body, 
h1, 
h3 {
	font-family: "Raleway", sans-serif;
}

body {
    text-align: center;
    background-color: black;
}



.container{
	background-color:#ffd400;
	height: 620px;
	width:510px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: -590px;
	border-radius:25px 25px 0px 0px;
}

.last-container{
	background-color:#ffd400;
	height: 100px;
	width:510px;
	margin-left: auto;
	margin-right: auto;
	margin-top: -25px;
	margin-bottom: 10px;
	border-radius:0px 0px 25px 25px;
}

h1 {
  font-size: 40px;
  color: #000;
  line-height: 48px;
  display: inline;
}

h3 {
  font-size: 24px;
  color: #000;
  line-height: 48px;
  display: inline;
}